.exp_container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 4rem;
    margin-left: 4rem;
}

.exp_card_deal {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 16rem;
    border: 3px #8bd18f;
    border-style: dashed;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

.exp_card_deal:hover {
    border-color: rgba(211, 211, 108, 0.74);
    transition: 0.4s;
}

.exp_card_deal_title {
    position: relative;
    z-index: 2;
    text-align: center;
    margin-top: 1.5rem;
    color: var(--text-color)
}

.exp_title_light {
    position: relative;
    z-index: -1;
    left: 5rem;
    bottom: 1.8rem;
    width: 8rem;
    height: 2rem;
    transform: rotate(-5.558deg);
    background-color: #fff06d;
    transition: 0.3s;
}

.exp_title_light:hover {
    background-color: yellow;
    transition: 0.3s;
}

.exp_card {
    width: 25rem;
    height: 15rem;
    margin-top: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 1s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.exp_card:hover {
    transform: rotateY(180deg);
}

.exp_card_front, .exp_card_back {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.exp_card_front {
    height: 100%;
}

.exp_card_back {
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
}

.exp_card_back a,
.exp_card_back h4,
.exp_card_back h5 {
    color: rgba(255, 255, 255, 0.829);
    transition: 0.4s;
}

.exp_card_back h4,
.exp_card_back h5 {
    font-weight: 400;
}

.exp_card_back a:hover {
    color: rgba(98, 232, 255, 0.856);
    transition: 0.4s;
}

.exp_holocruxe {
    background-color: #20435E;
}

.exp_holocruxe_logo {
    width: 70%;
    height: auto;
}

.exp_holocruxe_phrase p {
    color: rgba(255, 255, 255, 0.76);
    font-weight: 500;
}

.exp_card_back_data {
    width: 70%;
    margin-top: 1rem;
}


/* MEDIA - QUERY --------------------------------------------- */
@media screen and (max-width: 1286px) {
    .exp_container {
        margin-top: 1rem;
        margin-left: 1rem;
        justify-content: center;
    }

    .exp_card_container {
        display: flex;
        margin: auto;
    }

    .exp_card_deal {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 880px) {
    .exp_container {
        flex-direction: column;
        margin: 0;
    }

    .exp_card_deal {
        margin: 0;
    }
} 

@media screen and (max-width: 460px) {
    .exp_card {
        width: 19rem;
        height: 15rem;
    }
}
