@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

.data_container {
    width: 31.5rem;
    height: 30rem;
    margin-top: 3em;
    border-radius: 10px;
    transform: rotate(-5deg);
    transition: 0.3s;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.data_box {
    width: 420px;
    height: 400px;
    margin: 3em auto;
}

/* HEAD -------------------------------------------------------------- */
.data_head {
    height: 30%;
    display: flex;
    flex-direction: row;
}

.data_profile_image {
    width: 30%;
    height: 100%;
}

.data_image {
    height: 100%;
    border-radius: 50%;
    transform: scaleX(-1);
    border: 1px solid rgba(21, 255, 213, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 87, 255, 0.30);
}

/* TITLE -------------------------------------------------------------- */

.data_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data_title h1 {
    font-family: 'Jost', sans-serif;
    font-size: 30px; 
}

.data_title h3 {
    position: relative;
    z-index: 3;
    font-family: 'Nunito', sans-serif;
}

.data_yellow, .data_purple {
    position: relative;
    width: 170px;
    height: 30px;
    transform: rotate(-4.18deg);
}

.data_yellow {
    top: 4.5em;
    z-index: 1;
    background-color: #FFF96D;;
}

.data_purple {
    z-index: 0;
    bottom: 0.8em;
    right: 0.5em;
    background: linear-gradient(180deg, rgba(109, 133, 255, 0.00) 23.44%, #6D85FF 67.71%);

}

/* INFO ----------------------------------------------------------------- */

.data_info {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.data_social {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.8em;
    margin-top: 1em;
}

.data_social_icon {
    color: black;
    font-size: 45px;
}

.data_social_icon:hover {
    color: #2846da;
}

.data_description {
    width: 100%;
    margin-left: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Courier Prime', monospace;
    color: var(--text-color)
}

/* BUTTON ------------------------------------------------------------ */

.data_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
    background-color: rgba(0, 0, 0, 0.705);
    height: 2.6em;
    width: 9em;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.data_button_a {
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}

.data_button_icon {
    margin-left: 0.8em;
    margin-top: 4px;
    align-items: center;
}

.data_button:hover {
    background-color: rgba(0, 0, 0, 0.87);
}

/* ICONS -------------------------------------------------- */
.data_duck, .data_bug {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.data_bug {    
    left: 6em;
    top: 1em;
}

.data_duck {
    left: 26em;
    bottom: 4em;
    transition: 0.3s;
    transform: rotate(4deg);
}

/* MEDIA - QUERY ------------------------------------ */
@media screen and (max-width: 640px) {
    .data_container {
        transform: rotate(0deg);
        transition: 0.3s
    }
}

@media screen and (max-width: 600px) {
    .data_container {
        width: 28rem;
    }

    .data_box {
        width: 24rem;
    }

    .data_duck {
        left: 22em;
    }
}

@media screen and (max-width: 480px) {
    .data_container {
        width: 18.5rem;
        margin-top: 5em;
    }

    .data_box {
        width: 17rem;
    }

    .data_head {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data_profile_image {
        position: relative;
        width: 42%;
        top: 0.5rem
    }

    .data_duck {
        left: 9em;
        bottom: 2.5em;
    }

    .data_title {
        padding-bottom: 8em;
    }

    .data_info {
        width: 15rem;
        margin: auto;
    }

    .data_social {
        margin-left: 1em;
    }

    .data_social_icon {
        font-size: 30px;
    }

    .data_description {
        font-size: 15px;
        margin-left: 1em;
    }

    .data_button {
        margin: auto;
    }

    .data_bug {
        top: 2em
    }
}