.portfolio_section {
    height: 100vh;
    padding-top: 6rem;
    position: relative;
}

.portfolio_title, .portfolio_subtitle {
    text-align: center;
}

.portfolio_title {
    font-size: 40px;
    padding-top: 3rem;
}

.portfolio_subtitle {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 2rem;
}

.portfolio_container_grid {
    display: flex;
    margin: auto;
    width: 80%;
}
.portfolio_content {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    height: 20rem;
    width: 100%;
    justify-content: center;
    padding: 0rem 3rem;
    margin-left: 1rem;
}

.portfolio_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem; 
    height: 22rem; 
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: white;
}

.portfolio_card_title {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.portfolio_img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    opacity: 0.5;
    margin-bottom: 1rem;
    filter: grayscale(70%);
    transition: all 800ms ease-out;
}

.portfolio_type {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0.3rem;
}

.portfolio_info {
    width: 12rem;
/*     background-color: rgba(255, 255, 0, 0.541); */
}

.portfolio_code, .portfolio_demo {
    position: relative;
    font-weight: 600;
    bottom: 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
}

.portfolio_code {
    margin-right: 2rem;
}

.portfolio_info_icon {
    position: relative;
    top: 3px;
    margin-right: 10px;
    font-size: 22px;
}

.portfolio_img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.portfolio_code:hover, .portfolio_demo:hover {
    color: rgb(175, 150, 6);
}


/* RESPONSIVE ------------------- */
@media screen and (max-width: 1400px) {
    .portfolio_section {
        height: 1100px;
        padding-top: 6rem;
    } 

    .portfolio_content {
        grid-template-columns: repeat(2, 350px);
        column-gap: 3rem;
        justify-content: center;
        padding: 0rem 3rem;
        align-items: center;
        margin-left: 1rem;
    }

    .portfolio_group {
        width: 20rem; 
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 801px) {
    .portfolio_section {
        padding-top: 1rem;
    } 
}

@media screen and (max-width: 740px) {
    .portfolio_section {
        height: 1780px;
    } 

    .portfolio_content {
        grid-template-columns: repeat(1, 350px);
    }

    .portfolio_group {
        width: 20rem;  
        margin-bottom: 2rem;
    }
}



