@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Nunito:wght@300;400&display=swap');

.portfolio_section {
    width: 80%;
    height: 100vh;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    transition: 0.4s;
}

.portfolio_menu {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio_card {
    position: relative;
    z-index: 1;
    width: 16rem;
    height: 17rem;
    border-radius: 10px;
    background-color: white;
    display: flex;
    transform: rotate(-5.558deg);
    margin-top: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.portfolio_inner_card {
    position: absolute;
    left: 1.4rem;
    top: 2rem;
    z-index: 1;
    width: 13rem;
    height: 12.5rem;
    border: 1px solid rgba(181, 181, 181, 1);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Jost', sans-serif;
}

.portfolio_inner_card h1 {
    margin-bottom: 0.5em;
}

.portfolio_container_projects {
    width: 70%;
}

.portfolio_icon_html, 
.portfolio_icon_flow,
.portfolio_icon_api {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    transition: 0.3s;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio_icon_html {
    left: 20rem;
    border-radius: 50%;
}

.portfolio_icon_flow {
    left: 14rem;
    top: 8rem;
    border-radius: 50%;
} 

.portfolio_icon_api {
    left: 3rem;
    top: 14rem;
    border-radius: 50%;
    transform: rotate(15deg);
}


/* RESPONSIVE -------------------------------------------------------------*/
@media screen and (max-width: 1285px) {
    .portfolio_section {
        width: 90%;
    }

    .portfolio_icon_html {
        left: 17rem;
    }
    
    .portfolio_icon_flow {
        left: 11rem;
    } 
    
    .portfolio_icon_api {
        left: 4rem;
    }
}

@media screen and (max-width: 800px) {
    .portfolio_section {
        flex-direction: column;
    }

    .portfolio_menu {
        width: 100%;
    }

    .portfolio_container_projects {
        width: 100%;
    }

    .portfolio_icon_html {
        left: 15rem;
        top: -6rem
    }
    
    .portfolio_icon_flow {
        left: -10rem;
        top: 1rem;
    } 
    
    .portfolio_icon_api {
        left: 4rem;
    }
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 450px) {
    .portfolio_menu {
        margin: auto;
    }

    .portfolio_icon_api {
        left: 2rem;
    }

    .portfolio_icon_flow {
        left: -5rem;
        top: -2rem;
    }
}