@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

.form_content {
    height: 38rem;
    width: 500px;
    margin: auto;
    background-color:#fffef2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form_cutie_top, .form_cutie_bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray
}

.form_cutie_top {
    top: 1rem
}

.form_title {
    height: 10rem;
    padding-top: 1rem;
    width: 70%;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
} 

.form_title h3 {
    font-family: 'Courier Prime', monospace;
}

.contact_form_div {
    margin: auto;
    margin-top: 1rem;
    width: 80%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}

.contact_form_tag {
    padding-right: 0.5rem;
    width: 100%;
}

.contact_form_area {
    width: 100%;
    margin-top: 2rem;
    background-color:#fffef2;
    color:rgba(0, 0, 0, 0.726);
    border: none;
}

.contact_form_input {
    width: 70%;
    background-color:#fffef2;
    border: none;
}

.contact_form_input:focus {
    outline: none;
}

.contact_form_area textarea {
    height: 20rem;
    resize: none;
}

.contact_form_area:focus {
    outline: none;
}

.form_numbers {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 4rem;
    font-size: 13px;
    color: gray
}

.contact_button_div {
    display: flex;;
}

.contact_send_button {
    display: flex;
    align-items: center;
    justify-content:center;
    border: none;
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 10rem;
    width: 10rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    background-color: var(--text-color);
}

.contact_send_button:hover {
    background-color: rgba(0, 0, 0, 0.932);
}

.contact_button_icon {
    font-size: 30px;
    margin-left: 1rem;
}

/* MEDIA - QUERY --------------------------------------------- */
@media screen and (max-width: 550px) {
    .form_content {
        height: 41rem;
        width: 90%;
        margin: auto;
        background-color:#fffef2;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .contact_send_button {
        margin-left: 5rem;
        margin-top: 2.5rem;
    }
}

@media screen and (max-width: 450px) {
    .form_cutie_top, .form_cutie_bottom {
        font-size: 13px;
    }

    .form_cutie_bottom {
        margin-top: 1.5rem;
    }
}




