@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Nunito:wght@300;400&display=swap');

.skills_section {
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    z-index: 1;
    display: flex;
    flex-direction: row;
    transition: 0.4s; 
}

.skills_menu {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_card {
    position: relative;
    z-index: 1;
    width: 16rem;
    height: 17rem;
    border-radius: 10px;
    background-color: white;
    display: flex;
    transform: rotate(-5.558deg);
    margin-top: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.skills_inner_card {
    position: absolute;
    left: 1.4rem;
    top: 2rem;
    z-index: 1;
    width: 13rem;
    height: 12.5rem;
    border: 1px solid rgba(181, 181, 181, 1);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Jost', sans-serif;
}

.skills_inner_card h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.skills_courses_card {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 290px;
    height: 290px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    bottom: 4rem;
/*     margin-top: 3rem; */
    font-family: 'Courier Prime', monospace;
    background-color: #E9EBFF;
}

.skills_courses_title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.skills_courses_title h1 {
    margin-top: 1rem;
}

.courses_items {
    display: flex;
    flex-direction: row;
    margin: 0.5rem auto;
    width: 75%;
}

.courses_items a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 0.5rem;
}

.skills_techs {
    width: 70%;
    margin: auto;
}

.skills_icon_div {
    display: flex;
}

.skills_icon {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    transition: 0.3s;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(0deg);
    border-radius: 50%;
}

.skills_slack {
    left: 25rem;
    top: 15rem
}

.skills_react {
    left: 28rem;
}

.skills_next {
    left: 12rem;
    top: -20rem
}

.skills_nest {
    left: 60rem;
    top: 5rem
}

.skills_post {
    left: 48rem;
    top: -5rem
}

.skills_figma {
    left: 40rem;
    top: 19rem
}

/* RESPONSIVE ------------------------------------------------------------ */
@media screen and (max-width: 1285px) {
    .skills_next {
        left: 12rem;
    }

    .skills_react {
        top: -1rem
    }

    .skills_post {
        left: 40rem;
        top: -3rem
    } 

    .skills_nest {
        left: 30rem;
        top: 17rem
    }

    .skills_figma {
        left: 35rem;
        top: 20rem
    }

    .skills_slack {
        left: 23rem;
        top: 40rem
    }
}

@media screen and (max-width: 900px) {
    .skills_section {
        flex-direction: column;
    }

    .skills_menu {
        width: 100%;
    }

    .skills_card {
        top: 4rem
    }

    .skills_courses_card {
        bottom: 2rem
    }
}