@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Nunito:wght@300;400&display=swap');

.home_section {
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
    z-index: 1;
    position: relative;
    height: 75vh;

}
.home_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* RESPONSIVE ------------------------------ */
@media screen and (max-width: 1285px) {
    .home_section {
        height: 70vh;
    }
}

@media screen and (max-width: 1050px) {
    .home_section {
        width: 90%;
    }
}

@media screen and (max-width: 640px){   
    .home_section {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .home_section {
        margin-top: 1.5rem;
        height: 76vh;
    }
}


