@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Nunito:wght@300;400&display=swap');

.home_section {
    width: 80%;
    height: 100vh;
    margin: auto;
    z-index: 1;
    position: relative;
/*     background-color: rgba(255, 255, 0, 0.329); */

}
.home_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
/*     display: grid;
    width: 80%;
    margin: auto;
    row-gap: 5em; */
}

/* RESPONSIVE ------------------------------ */
@media screen and (max-width: 1050px) {
    .home_section {
        width: 90%;
    }
}

@media screen and (max-width: 640px){   
    .home_section {
        width: 95%;
    }
}

@media screen and (max-width: 801px){
    .home_section {
        padding-top: 2rem;
    }

    .home_content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 6rem; 
    } 

    .home_img {
        position: absolute;
        top: 6rem;
        right: 4rem; 
        width: 240px;
        height: 240px;
        box-shadow: inset 0 0 0 6px rgb(255, 255, 255 / 30%);
    }

    .home_data {
        grid-column: 1/3;
    }

    .home_title {
        font-size: 40px;
    }

    .home_subtitle {
        width: 18rem;
    }

    .home_subtitle h3 {
        font-size: 20px;
    }
 
    .home_presentation {
        margin-bottom: 1rem;
    }

    .home_scroll {
        display: none;
    }
}

@media screen and (max-width:644px){
    .home_img {
        top: 5rem;
        left: 7rem;
        width: 180px;
        height: 180px;
    }
}

