@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Nunito:wght@300;400&display=swap');

.contact_section {
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 4rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    transition: 0.4s; 
}

.contact_menu {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_form {
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
}

.contact_card {
    position: relative;
    z-index: 1;
    width: 16rem;
    height: 17rem;
    border-radius: 10px;
    background-color: white;
    display: flex;
    transform: rotate(-5.558deg);
    margin-top: 4rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact_inner_card {
    position: absolute;
    left: 1.4rem;
    top: 2rem;
    z-index: 1;
    width: 13rem;
    height: 12.5rem;
    border: 1px solid rgba(181, 181, 181, 1);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Jost', sans-serif;
}

.contact_minicard {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact_inner_minicard {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    width: 18rem;
    height: 8rem;
    border-radius: 10px;
    border: 1px solid rgba(181, 181, 181, 1);
}

.contact_inner_minicard h3 {
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.contact_inner_minicard span, 
.contact_inner_minicard a {
    margin-left: 2.5rem;
    text-decoration: none;
    color: var(--var-text)
}

.contact_inner_minicard a:hover {
    color: var(--third-color)
}

.contact_mail {
    transform: rotate(1deg);   
}

.contact_linkedin {
    transform: rotate(-1deg); 
    margin-left: 2rem;
}

.contact_icon {
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    transition: 0.3s;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(0deg);
    border-radius: 50%;
}

.contact_email {
    left: 16rem;
    bottom: 1rem;
}

.contact_linkedinIcon {
    left: 13rem;
    top: 3rem
}

/* MEDIA - QUERY --------------------------------------------- */
@media screen and (max-width: 1285px) {
    .contact_section {
        width: 100%;
    }

    .contact_menu {
        padding-left: 6rem;
    }
}

@media screen and (max-width: 1000px) {
    .contact_section {
        flex-direction: column;
    }

    .contact_menu {
        width: 90%;
        padding-left: 0;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
/*         justify-content: center; */
    }

    .contact_minicard {
        width: 16rem;
        height: 10rem;
    }

    .contact_inner_minicard {
        width: 14rem;
        height: 8rem;
    }

    .contact_inner_minicard span, 
    .contact_inner_minicard a,
    .contact_inner_minicard h3 {
    margin-left: 1rem;
}
}