.header {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;   
    z-index: 15;
}

.fixedBottom {
    bottom: 0;
    margin-bottom: 45px;
}

.nav {
    position: relative;
    height: 80px;
    width: 45rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav_container {
    z-index: 9 ;
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-inline: 16px;
}

.nav_menu_item, .nav_menu_mode {
    list-style: none;
    width: 70px;
    transform: 0.3s;
    color: var(--secondary-color);
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav_menu_link  {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
}

.show_menu {
    margin-top: 0.5em;
}

.nav_menu_icon {
    font-size: 1.8rem;
    height: 50%;
    transition: 0.3s;
    color: var(--text-color);
}

/* Indicador ------------------------------------------------*/
.indicator {
    background-color: var(--navbar-background);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 10px 10px;
    width: 90px;
    height: 80px;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 5;
    transition: left 0.3s ease-in-out;
}

.indicator-0 {
    left: 5.6%;
}

.indicator-1 {
    left: calc(1 * (75px + 75px));
}

.indicator-2 {
    left: calc(2 * (75px + 55px));
}

.indicator-3 {
    left: calc(3 * (75px + 48px));
}

.indicator-4 {
    left: calc(4 * (75px + 45px));
}

.indicator-5 {
    left: calc(4 * (75px + 72px));
}

/* Active ---------------------------------------------------*/
.nav_menu_item.nav_menu_active,
.nav_menu_item.nav_menu_active a {
    color: var(--text-color); 
}

.nav_menu_active {
    transition: 0.3s;
    transform: translateY(-5px); 
    z-index: 15; 
}

/* --------------------------------------------------- */

.nav_close, .nav_close_inactive, .nav_toggle, .nav_logo {
    display: none;
}

.nav_logo_icon {
    font-size: 10px;
    margin-right: 5px;
}

.nav_menu_item, .nav_menu_mode  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MEDIA - QUERY ------------------------------------ */
/* MEDIUM DEVICES ----------------------------------- */

@media screen and (max-width: 801px){   
    .fixedBottom {
        margin-bottom: 0;
    }

    .nav {
        width: 100%;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
    } 

    .nav_container {
        display: none;
    }
    
    .nav_menu {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 180px;
        width: 100%;
        padding: 2rem 1.5rem 4rem;
        border-radius: 1.5rem 1.5rem 0 0;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        transition: .3s;
        background-color: white;
    }
    
    .show_menu {
        bottom: 0;
    }

    .nav_menu_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-content: center;   
        margin: auto;
    }

    .nav_menu_item, .nav_menu_mode {
        display: grid;
        place-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.6rem;
        padding: 0.2em;
    }

    .indicator {
        display: none;
    }

    .nav_menu_icon {
        font-size: 1.2rem;
    }

    .nav_close {
        position: absolute;
        z-index: 2;
        right: 2rem;
        bottom: .5rem; 
        font-size: 1.5rem;
        cursor: pointer;
        color: black
    }

    .nav_close_inactive {
        display: none;
    }

    .nav_close:hover, .nav_toggle:hover {
    color: var(--secondary-color);
    }

    .nav_toggle {
        cursor: pointer;
        margin-right: 2em;
        font-size: 20px;
    }
    .nav_close, .nav_toggle, .nav_logo {
        display: block;
        color: var(--text-color)
    }

    .nav_logo {
        position: relative;
        margin-left: 2em;
        font-size: 20px;
    }
}

/* SMALL DEVICES ------------------------------------------- */
@media screen and (max-width: 360px) {
    .nav_menu {
        padding: 2rem .25rem 4rem;
    }
}


