* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  background-color: whitesmoke;
}

.button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.705);
  height: 2.6em;
  width: 9em;
  margin-top: 2.5rem;
  border-radius: 5px;
  transition: .3s ease-in-out;
}


/* BREAK-POINTS -------------------------------------------- */
@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){

}

@media screen and (max-width: 350px){

}
