* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* Celeste */
}

html {
  scroll-behavior: smooth;
}

/* BREAK-POINTS -------------------------------------------- */
@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){

}

@media screen and (max-width: 350px){

}
